@import "base/base";
@import "base/animation";
@import "base/typographies";
@import "base/utilities";

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";
@import "abstract/utilities";

@import "pages/home";

@import "components/button";

@import "layout/header";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
}